<div class="tab">
    <ul class="nav nav-tabs" id="optionsTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="diagn-tab" data-bs-toggle="tab" data-bs-target="#tabDiagn" type="button" role="tab" aria-controls="tabDiagn" aria-selected="true">Периодичность<br>диагностики</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="diagn-tab" data-bs-toggle="tab" data-bs-target="#tabObject" type="button" role="tab" aria-controls="tabObject" aria-selected="true">Активный<br>редуктор</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="monitoring-tab" data-bs-toggle="tab" data-bs-target="#tabMonitoring" type="button" role="tab" aria-controls="tabMonitoring" aria-selected="false">Периодичность<br>мониторинга</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tresh-tab" data-bs-toggle="tab" data-bs-target="#tabTresh" type="button" role="tab" aria-controls="tabTresh" aria-selected="false">Настройка<br>уровней</a>
        </li>
    </ul>
    
    <div class="tab-content px-0" id="optionsTabContents">
        <div class="tab-pane fade show active" id="tabDiagn" role="tabpanel" aria-labelledby="home-tab">
            <form name="timers_" id="timers_">
                <div class="row px-2">                    
                    <div class="col-12">
                        <!-- <div class="mb-3 input-group">
                            <div class="input-group-prepend col-10">
                                <span class="input-group-text">Периодичность диагностики</span>
                            </div>
                            <select class="form-control mb-1">
                                <option selected>Каждый день</option>
                                <option>Каждый четный день</option>
                                <option>Каждый нечетный день</option>
                            </select>
                        </div> -->
                        <div class="mb-3 input-group">
                            <div class="input-group-prepend col-8">
                                <span class="input-group-text">Время старта диагностической процедуры</span>
                            </div>
                            <select class="form-control mb-1">
                                <option selected>06:00</option>
                                <% for (var i=7; i < 21; i++ ) { 
                                    var hour = i;
                                    if (i<10) { hour = '0' + hour } %>
                                    <option><%=hour%>:00</option>
                                <% } %>
                            </select>
                            <div class="input-group-append">
                                <span class="input-group-text">МСК</span>
                            </div>
                        </div>

                        <div class="mb-3 input-group">
                            <div class="input-group-prepend col-8">
                                <span class="input-group-text">При неудаче</span>
                            </div>
                            <select class="form-control mb-1">
                                <option selected>Повторить сразу (до 5-ти раз)</option>
                                <option>Повторить через час (до 5-ти раз)</option>
                                <option>Не повторять до следующего дня</option>
                            </select>
                        </div>        

                        
                    </div>
                </div>
            </form>

            <div class="px-0">
                <hr class="mt-0 mb-3">
            </div>

            <div class="container-fluid px-2">
                <div class="d-flex justify-content-begin">
                    <div class="btn-group" role="group" aria-label="Сохранить настройки">                                    
                        <button type="button" class="btn btn-primary my__btn_apply" form_id="timers_" role="single" router="set_timers_options">Применить настройки</button>                                
                    </div>    
                </div>                                    
            </div>
        </div>

        <div class="tab-pane fade" id="tabMonitoring" role="tabpanel" aria-labelledby="tabMonitoring">  
            <form name="timers_" id="timers_">          
                <div class="row px-2">                    
                    <div class="col-12">
                        <div class="mb-3 input-group">
                            <div class="input-group-prepend col-8">
                                <span class="input-group-text">Период обновления данных мониторинга</span>
                            </div>
                            <select class="form-control mb-1">
                                <option selected>2 секунды</option>
                                <option>10 секунд</option>
                                <option>1 минута</option>
                            </select>
                            <!-- <div class="input-group-append">
                                <span class="input-group-text">сек.</span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </form>  
            
            <div class="px-0">
                <hr class="mt-0 mb-3">
            </div>

            <div class="container-fluid px-2">
                <div class="d-flex justify-content-begin">
                    <div class="btn-group" role="group" aria-label="Сохранить настройки">                                    
                        <button type="button" class="btn btn-primary my__btn_apply" form_id="timers_" role="single" router="set_timers_options">Применить настройки</button>                                
                    </div>    
                </div>                                    
            </div>
        </div>


        <div class="tab-pane fade" id="tabObject" role="tabpanel" aria-labelledby="tabObject">  
            <form id="form__active_gear" > 
                <input type="hidden" name="link" value="active_gear_collection">         
                <div class="row px-2">                    
                    <div class="col-12">
                        <div class="mb-3 input-group">
                            <div class="input-group-prepend col-8">
                                <span class="input-group-text"><%=active_gear_collection.active_gear.name%></span>
                            </div>
                            <select class="form-control mb-1" name="active_gear" form="form__active_gear">
                                <% for (i=0; i<active_gear_collection.active_gear.values.length; i++) { 
                                    if (active_gear_collection.active_gear.value == i) { %>
                                        <option value="<%=i%>" selected><%=active_gear_collection.active_gear.values[i]%></option>
                                    <% } else { %>                                    
                                        <option value="<%=i%>"><%=active_gear_collection.active_gear.values[i]%></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </form>  
            
            <div class="px-0">
                <hr class="mt-0 mb-3">
            </div>

            <div class="container-fluid px-2">
                <div class="d-flex justify-content-begin">
                    <button type="button" class="btn btn-primary"
                    data-bs-toggle="modal" 
                    data-bs-target="#window__active_gear_change_confirm">
                    Применить настройки</button>                                
                </div>                                    
            </div>

            <div class="modal fade" id="window__active_gear_change_confirm" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Подтверждение операции</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body m-3">
                            Подтвердите изменение активного редуктора.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn__send_form" form="form__active_gear" data-bs-dismiss="modal">Принять изменения</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                        
                    </div>
                </div>
            </div>



        </div>

        <div class="tab-pane fade" id="tabTresh" role="tabpanel" aria-labelledby="tabTresh">
            <form name="timers_" id="timers_">          
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:25%;">Датчик</th>
                            <th style="width:25%;">Уровень</th>
                            <th style="width:25%;">Аналог ГОСТ 10816</th>
                            <th style="width:25%;">Значение</th>                                
                        </tr>    
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:25%;" rowspan="3">Датчик вибросокрости на первой ступени</th>
                            <td style="width:25%;">Верхняя граница <span class="badge bg-primary p-2">нормы</span>, мм/с</th>
                            <td style="width:25%;"><span class="badge bg-primary p-2">А/B</span></th>
                            <td style="width:25%;"><input type="text" class="form-control" placeholder="0"></th>                                
                        </tr>    
                        <tr>
                            <td style="width:25%;">Верхняя граница <span class="badge bg-warning p-2">некритичного превышения</span>, мм/с</th>
                            <td style="width:25%;"><span class="badge bg-warning p-2">B/C</span></th>
                            <td style="width:25%;"><input type="text" class="form-control" placeholder="0"></th>                                
                        </tr>    
                        <tr>
                            <td style="width:25%;">Верхняя граница <span class="badge bg-danger p-2">критичного превышения</span>, мм/с</th>
                            <td style="width:25%;"><span class="badge bg-danger p-2">C/D</span></th>
                            <td style="width:25%;"><input type="text" class="form-control" placeholder="0"></th>                                
                        </tr>    

                        <tr>
                            <td style="width:25%;" rowspan="3">Датчик вибросокрости на второй ступени</th>
                            <td style="width:25%;">Верхняя граница <span class="badge bg-primary p-2">нормы</span>, мм/с</th>
                            <td style="width:25%;"><span class="badge bg-primary p-2">А/B</span></th>
                            <td style="width:25%;"><input type="text" class="form-control" placeholder="0"></th>                                
                        </tr>    
                        <tr>
                            <td style="width:25%;">Верхняя граница <span class="badge bg-warning p-2">некритичного превышения</span>, мм/с</th>
                            <td style="width:25%;"><span class="badge bg-warning p-2">B/C</span></th>
                            <td style="width:25%;"><input type="text" class="form-control" placeholder="0"></th>                                
                        </tr>    
                        <tr>
                            <td style="width:25%;">Верхняя граница <span class="badge bg-danger p-2">критичного превышения</span>, мм/с</th>
                            <td style="width:25%;"><span class="badge bg-danger p-2">C/D</span></th>
                            <td style="width:25%;"><input type="text" class="form-control" placeholder="0"></th>                                
                        </tr> 

                        <tr>
                            <td style="width:25%;" rowspan="3">Датчик вибросокрости на третьей ступени</th>
                            <td style="width:25%;">Верхняя граница <span class="badge bg-primary p-2">нормы</span>, мм/с</th>
                            <td style="width:25%;"><span class="badge bg-primary p-2">А/B</span></th>
                            <td style="width:25%;"><input type="text" class="form-control" placeholder="0"></th>                                
                        </tr>    
                        <tr>
                            <td style="width:25%;">Верхняя граница <span class="badge bg-warning p-2">некритичного превышения</span>, мм/с</th>
                            <td style="width:25%;"><span class="badge bg-warning p-2">B/C</span></th>
                            <td style="width:25%;"><input type="text" class="form-control" placeholder="0"></th>                                
                        </tr>    
                        <tr>
                            <td style="width:25%;">Верхняя граница <span class="badge bg-danger p-2">критичного превышения</span>, мм/с</th>
                            <td style="width:25%;"><span class="badge bg-danger p-2">C/D</span></th>
                            <td style="width:25%;"><input type="text" class="form-control" placeholder="0"></th>                                
                        </tr> 
                    </tbody>
                </table>



            </form>  
            
         

            <div class="container-fluid px-2">
                <div class="d-flex justify-content-begin">
                    <div class="btn-group" role="group" aria-label="Сохранить настройки">                                    
                        <button type="button" class="btn btn-primary my__btn_apply" form_id="timers_" role="single" router="set_timers_options">Применить настройки</button>                                
                    </div>    
                </div>                                    
            </div>
        </div>

    </div>
</div>

<script src="/public/js/f_options.js"></script>
